.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  padding: 4rem;
}

.outer_wrapper{
  width: 90%;
  height: 90%;
  border-radius: 10px;
  border: none;
  box-shadow: 0 .5px 6px rgb(195, 193, 193);
  padding: 3rem;
  box-sizing: border-box;
  position: relative;

}
